* {
  margin: 0;
  padding: 0;
  box-sizing: box-border;
}

body {
  background-color: rgb(0, 0, 0);
  font-family: Arial;
  font-size: 15px;
  padding: 40px;
}
h1 {
  font-size: 25px;
  font-family: fantasy;
  color: white;
  padding-bottom: 20px;
}
h2 {
  font-size: 15px;
  padding-bottom: 20;
}
.class-one {
  color: rgb(243, 231, 10);
  padding-inline-end: 60px;
}
.class-two {
  color: rgb(22, 236, 51);
}
.class-three {
  color: rgb(97, 8, 8);
}
.class-four {
  color: rgb(16, 20, 236);
}
#image1 {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 460px;
}

#Programming-Language-Selector {
  background-color: rgb(240, 230, 230);
  border: 0px solid rgb(0, 0, 0);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0px;
  text-align: center;
  width: 460px;
}
#Programming-Language-Selector h2 {
  font-size: 15px;
  font-family: Arial;
  padding: 10px;
}
.class-five {
  font-size: 12px;
  padding-bottom: 7px;
}
input,
button {
  padding: 5px;
  font-size: 10px;
}
