.container {
  /*Element holds everything*/
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
/*--SITE-NAV--*/
.Site-Navigation li {
  list-style: none;
}
/*--END-SITE-NAV--*/
.Parent-Content-Area {
  /*Element responsible for all text content*/
  border-top: 2.5px solid black;
  border-bottom: 2.5px solid black;
}
.Main-Area {
  /*Element responsible for primary text content*/
  width: 66%;
  float: left; /*float property enables the text in this case to sit side by side*/
}
.Side-Bar {
  /*Element responsible for secondary text content*/
  width: 34%;
  float: left;
}
/* 
NOTE 
Parent elements are only aware of child content that is NOT floated ! which causes a bug for border 
design ! In order to enable the parent element to becomw aware of floated child elements (content), we can create
an empty div class name = fix-border, just below child content elements but WITHIN parent element (Parent-Content-
Area) in HTML file ( basically what we code in the CSS file for border-fix wiil enable parent element to become
aware of ALL child content counteraxting & fixing BUG
*/
.border-fix {
  clear: both;
}

/*
NOTE
It is considered bad practice to intiate empty HTML elements!
*/
